@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 8px 36px;
    height: 160px;
    display: flex;        
    align-items: center;
    justify-content: space-around;
    background: variaveis.$headerBackground;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    transition: .5s ease;
    z-index: 1;

    @media (max-width: 768px) {
        padding: 0 12px 0 12px;
        max-width: 100%;
        background-repeat: no-repeat;
    }
}

.header.ativo {
    position: sticky;
    top: 0;
    left: 0;
    padding: 8px 36px;
    height: 160px;
    display: flex;
    align-items: center;        
    justify-content: space-around;
    background: variaveis.$mudancaDoHeader;
    transition: .5s ease;
    z-index: 1;

    @media (max-width: 768px) {
        background-repeat: no-repeat;
        background-size: cover;
    }
}