.ordem-cronologica {

    &__container {
        padding: 5.6vw;
        align-items: center;

        h2 {
            text-align: center;
            margin-bottom: 24px;
        }

        img {
            width: 100%;
        }

        p {
            padding-top: 8px;
            margin: 0 6px;
            display: block;
        }
    }
}