$corDeTexto1: #ffffff;
$corDeTexto2: #ccc;
$headerBackground: url(../images/saga_star_wars/darth_vader.jpeg);
$bodyImage: url(../images/saga_star_wars/img_fundo.jpg);
$mudancaDoHeader: url(../images/saga_star_wars/luke_vader.jpeg);
$buttonColor: rgba(255, 7, 7, 0.753);